<!--========================================================================
  - Licensed Materials - Property of IBM
  - "Restricted Materials of IBM"
  -
  - IBM SDK, Java(tm) Technology Edition, v8
  - (C) Copyright IBM Corp. 2000, 2014. All Rights Reserved
  -
  - US Government Users Restricted Rights - Use, duplication or disclosure
  - restricted by GSA ADP Schedule Contract with IBM Corp.
  -========================================================================
-->
<title>Nervous Text 1.1</title>
<hr>
<applet code="NervousText.class" width=534 height=50>
<param name=text value="Java SE Development Kit (JDK) 7.0">
</applet>
<hr>
<a href="NervousText.java">The source.</a>
