/********Reset the CSS********/

html, body, div, pre, form, fieldset, input, h1, h2, h3, h4, h5, 
h6, p, textarea, ul, ol, li, dl, dt, dd, blockquote, th, td {
 margin: 0; padding: 0;
}
table {
 border-collapse: collapse; border-spacing: 0;
}
fieldset, img {
 border: 0
}
h1, h2, h3, h4, h5, h6 {
 font-size: 100%; font-weight: normal;
}

/********Base Styles********/
body {
    color: #353535;
    font-size: 11px;
    background: url('images/background-gradient.gif') repeat-x  #97c6ff;
}
#outside_container { background: url('images/background-swoosh.gif') no-repeat; height: 865px;}
#container {
    min-height: 800px;
    width: 815px;
    position: relative;
    overflow: auto;
    padding-top: 25px;
    padding-left: 55px;
    font: 100%/1.4 Verdana, "Verdana Ref", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", sans-serif;
}
#container ul { list-style-type: disc }
#container p { margin-bottom: 15px }
#container h1 {
    font-size: 22px;
    line-height: 35px;
    font-weight: bold;
}
.indented { padding-left: 64pt }
.thumbnail {
    float: left;
    margin-right: 15px;
}
.updatesBlock { margin: 0 0 25px 0 }
.errorBlock {
    padding: 10px 0;
    margin: 0 0 10px 0;
    border-style: solid;
    border-color: #ecb78d;
    background: white;
    font-weight: bold;
}
.errorBlock .thumbnail { padding: 14px 0 70px 10px }
.optionsBlock { 
	margin: 25px 0 25px 0; 
	min-height: 73px; 
	height:auto !important; /*Ie6 min height fix*/
	height:35px; /*Ie6 min height fix*/
}
.optionsBlock .thumbnail { padding: 0 0 10px }

/********Link style********/
a:link {
    color: #356385;
    text-decoration: none;
    font-weight: bold;
}
a:hover, a:active, a:visited { color: #588db5 }

/********Button style*********/

.buttonwrapper {
    overflow: hidden;
    width: auto;
    margin: 5px 0 10px 0;
}
a.customButton {
    background: transparent url('images/button-left.gif') no-repeat top left;
	padding-left: 9px; /* Left image width */
    line-height: 13px; /* Line-height(13) + Top padding of SPAN (4) + Bottom padding of SPAN (4) = Button height below (21)*/
    height: 21px; /* Height of button background */
    text-decoration: none;
    vertical-align: left;
	display: block;
    font-weight: bold;
}
a.customButton span {
    background: transparent url('images/button-right.gif') no-repeat top right;
    display: block;
    padding: 4px 9px 4px 0; /*Match the value of 'padding-left' value in a.customButton : 9px*/
    float: left; /* Keep here instead of a.customButton to avoid ie6 bug*/
}
a:link.customButton, a:visited.customButton, a:active.customButton { color: white; }

/* Hover state CSS */
a.customButton:hover { background-position: bottom left; }
a.customButton:hover span { background-position: bottom right; }

